.header {
float: right;
padding-right: 25px;
}

.body {
text-align: center;
border-color: green;
}

h1 {
padding-top: 50px;
}

.button {
float: center;
}

#questions {
padding-top: 50px;
text-align: center;
}

